/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */
:root {
  --blue: #0448e2;
  --red: #e20413;
  --white: #f5f5f5;
}

* {
  font-family: "Times New Roman", "SimSun", "STSong", serif !important;
  color: var(--blue) !important;
  font-size: 20px;
  -moz-animation: fadein 0.5s; 
  -webkit-animation: fadein 0.5s; 
  animation: fadein 0.5s;
}

body {
  background-color: var(--white);
}

button {
	background: none;
	border: none;
	padding: 5px;
	cursor: pointer;
	outline: inherit;
}

@media (hover: hover) {
  button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
  }
}

::-webkit-scrollbar {
  display: none;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

/* Grid */
#overall {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-rows: 35px auto;
  grid-template-areas: 
    "nav nav"
    "lst con";
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .overall {
    grid-template-columns: auto;
    grid-template-rows: 35px auto 200px;
    grid-template-areas: 
    "nav"
    "con"
    "lst";
  }
}

#post-nav {
  grid-area: nav;
  width: 100%;
  padding: 0 5px;
  border-bottom: 1px solid var(--blue) ;
}

#post-nav > button {
  font-weight: 700;
}

#post-list {
  grid-area: lst;
  width: calc(100% - 10px);
  height: 100%;
  overflow-y: auto;
  padding-left: 5px;
}

#post-list > *:first-child {
  margin-top: 5px;
}

#post-list > *:last-child {
  margin-bottom: 5px;
}

#post-content {
  grid-area: con;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid var(--blue) ;
}

#post-area {
  width: calc(100% - 30px);
  height: calc(100% - 45px);
  margin: 0 20px 0 20px;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Sliders */
#post-resize {
  width: 100%;
  height: 35px;
  border-top: 1px solid var(--blue) ;
  display: flex;
  flex-direction: row;
}

#post-resize > div {
  max-width: 30%;
  padding: 0 10px;
  flex: 0 0 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: auto;
  margin-right: 5px;
}

.slider {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 5px;
}

.label {
  margin-left: 5px;
  width: auto;
}

@media screen and (max-width: 700px) {
  #post-area {
    height: calc(100% - 100px);
  }

  #post-resize {
    height: 90px;
    flex-direction: column;
  }

  #post-resize > div {
    max-width: unset;
    width: 90%;
    margin: 0 auto;
  }
}

/* Login & Create */
.login {
  max-width: 600px;
  margin: 30px min(5%, 30px);
  font-size: 20px !important;
}

.login span {
  padding-bottom: 30px;
}

.login button {
  padding: 10px 0 !important;
}

#post-create > form {
  max-width: 600px;
  margin: 30px min(5%, 30px);
  font-size: 20px !important;
  display: flex;
  flex-direction: column;
}

#post-create > form > div,
#post-create textarea {
  margin-bottom: 10px;
}
#post-create textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
}

#post-create textarea:focus {
  outline: 0px solid transparent;
}

/* Markdown CSS */
#post-markdown {
  max-width: 1000px;
}

#post-markdown :is(h1, h2, h3, h4, h5, h6, p) {
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

b, strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

/* Functional */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}